<?xml version="1.0" encoding="utf-8"?>

<connectionStrings>
  <add name="Main" connectionString="Data Source=.\SQLEXPRESS;Database=IncMusicStore;Integrated Security=true"
       providerName="System.Data.SqlClient" />
  <add name="Test" connectionString="Data Source=.;Database=IncMusicStoreTest;Integrated Security=true"
       providerName="System.Data.SqlClient" />  
</connectionStrings>